    		p{ 
                color:#fff;
                font:90pt "Helvetica Neue", "Helvetica", Arial, sans-serif;
                text-shadow: #000 0px 1px 0px;
                float:left;
                top: 15px;
                position: relative;
			    margin-right: 15px;
            }
			img#weatherid{ 
                float:left;
                padding-bottom: 10px;
            }
			#content{ 
                position:absolute;
                bottom:50px;
                right:50px;
                background:#111;
                background:rgba(0,0,0,0.65);
                text-align:left;
                -moz-border-radius:3px;
                -webkit-border-radius:3px;
                border-radius: 15px;
				-moz-box-shadow: 0px 1px 1px #000;
                -webkit-box-shadow: 0px 1px 1px #000;
                box-shadow: 0px 1px 1px #000;
                overflow: auto; 
            
            }
            div#clock{ 
                height: 190px;
                color:#fff;
                font: 140pt "Helvetica Neue", "Helvetica", Arial, sans-serif;
                text-shadow: #000 0px 1px 0px;
            }
			div#date{ 
                color:#fff;
                font: 40pt "Helvetica Neue", "Helvetica", Arial, sans-serif;
                text-align: left;
                padding-left: 40px;
                text-shadow: #000 0px 1px 0px;
            }
    		div#timeWrapper{  
                position: absolute;
                bottom: 50px;
                margin: 0 auto; 
            }